	
	*
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: #000000;
}
body
{
	background: #1f1f30;
}

/* start of  admin page*/

.navbar
{
	background:  #1e1e2e;
	color: #FFFFFF;
}

.table
{
	background: #27293d;
	
}
.table thead
{
	color: grey
}

/* ---------------------------------------------------------------------------------------- */


  /* ------ Guage Default Style ---------- */
  .gauge-container {
       
       
       width:50%;
       height:200px;
        padding: 10px;
       margin-top:30px;
        margin-left: 25%;
        border-radius: 3px;
        position: relative;
    }

    .gauge-container>.label {
        position: absolute;
        right: 1;
        top: 0;
        display: inline-block;
        background: #3a396400;
        font-family: monospace;
        font-size: 0.9em;
        padding: 5px 2px;
    }

    .gauge-container>.gauge>.value {
        stroke: rgb(4, 85, 97);
        stroke-width: 2;
        fill: rgba(160, 50, 50, 0);
    }

    .gauge-container>.gauge>.value-text {
        fill: #dd4fcf;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 0.9em;
    }

    /* ------------------------------------------- */
    .gauge-container.three>.gauge>.dial {
        stroke: #ffffff;
        stroke-width: 13;
    }

    .gauge-container.three>.gauge>.value {
        stroke: #00a7e9;
        stroke-width: 14;
    }

    .gauge-container.three>.gauge>.value-text {
        fill: #ffffff;
    }

	  /* ------ end of Guage Default Style ---------- */

/* ------------------- start range bar --------------------------- */


.range-slider {
        width: 100%;

    }

    .range-slider__range {
        -webkit-appearance: none;
        width: 50%;
        height: 13px;
       
        border-radius: 20px;
        background: #d7dcdf;
        outline: none;
        padding: 0;
        margin-top:30px;
        margin-left:25%;
    }

    /* Range Handle */
    .range-slider__range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 40%;
        background: #00a7e9;
        cursor: pointer;
        transition: background .19s ease-in-out;
    }

    .range-slider__range:hover {
        background: #bc1a4b;
    }


    .range-slider__range:active::-webkit-slider-thumb {
        background: #bc1a4b;
    }

    .range-slider__range::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        background: #2c3e50;
        cursor: pointer;
        transition: background .15s ease-in-out;
    }

    .range-slider__range:hover {
        background: #bc1a4b;
    }

    .range-slider__range:active::-moz-range-thumb {
        background: #bc1a4b;
    }

    /* Range Label */
    .range-slider__value {
        display: inline-block;
        position: relative;
        width: 60px;
        color: #fff;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        background: #2c3e50;
        padding: 5px 10px;
        margin-left: 8px;
    }

    .range-slider__range:after {
        position: absolute;
        top: 8px;
        left: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 7px solid #c72f69;
        border-bottom: 7px solid transparent;

    }

    /* Firefox Overrides */
    /* ::-moz-range-track {
        background: #d7dcdfsss;
        border: 0;
    } */

    input::-moz-focus-inner,
    input::-moz-focus-outer {
        border: 0;
    }
    .div1{
        background-color:#27293d;
        height:350px;
        margin-top:5px;
        border-radius:5px;

    }


    .div2{
        background-color:#27293d;
        margin-top:5px;
        border-radius:5px;

    }
    .div3{
        background-color:#27293d;
        height:150px;
        margin-top:5px;
        border-radius:5px;

    }




/* -------------------------------------------------------------------------------------------- */

.par1
{
	font-size: 25px;
	color: #FFFFFF;
	text-transform: capitalize;
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;
}

.par2
{
	font-size: 15px;
	color:#727272;
	text-transform: capitalize;

	font-family: 'Roboto', sans-serif;
}






.rightdiv
{
	
	margin-top: 30px;
}

.container_chart{
    padding-top: 2rem;
    width: 50rem;
    height: 20rem;
	background: #27293d;
	margin-bottom: 5px;
	
	border-radius: 5px;
}

.btn-admin
{
	background:  #1e1e2e;
	margin: auto;
	width: 90%;
	text-align: center;
}


.card{
	background-color: #ff7484;
	color: white;
	
}
.leftdiv
{
	
	margin-top: 30px;

}
.map_row
{
	background: #27293d;
	border-radius: 10px;
	margin-right: 78px;
}

.parcopyright
{
	color: #FFFFFF;
	font-size: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
		font-family: 'Roboto', sans-serif;

}

.parcopyright span
{
	color: #d251db;
}



.btn_fan
{
  height: 50px;	
 font-family: 'Roboto', sans-serif;
 text-transform: capitalize;
	border-radius: 10px;


	
}

@media(min-width:0) and (max-width:1024px)
{
	.rightdiv
	{
		z-index: 5;
	}
}


/* start of user page*/

.divblock
{
	background: #dd4fcf;
	width: 60%;
	height: 60px;
	margin: auto;
	text-align: center;
	padding-top: 15px;
}

.divblock a
{
	color: #FFFFFF;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	
}
.mainchart
{
	background: #27293d;
	
	border-radius: 5px;
}

.mainchart2
{
	background: #27293d;

	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 10px;

}

.blocks
{
margin: auto;
}
.taskdiv
{
	background: #27293d;
	height: 300px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}
/* end of user page*/


